@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  @font-face {
    font-family: 'Solaris';
    src: url('/Solaris.ttf');
  }

  @font-face {
    font-family: 'SF-Pro';
    src: url('/SF-Pro.ttf');
  }
}
